WM_Project/Service References/ShipService/ShipServiceDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://www.parcelforce.net/ws/ship/v9" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" name="ShipServiceDefinitions" targetNamespace="http://www.parcelforce.net/ws/ship/v9" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.parcelforce.net/ws/ship/v9" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="CreateShipmentRequest" type="ns:CreateShipmentRequest" />
      <xs:element name="CreateShipmentReply" type="ns:CreateShipmentReply" />
      <xs:element name="PrintLabelRequest" type="ns:PrintLabelRequest" />
      <xs:element name="PrintLabelReply" type="ns:PrintLabelReply" />
      <xs:element name="PrintDocumentRequest" type="ns:PrintDocumentRequest" />
      <xs:element name="PrintDocumentReply" type="ns:PrintDocumentReply" />
      <xs:element name="CreateManifestRequest" type="ns:CreateManifestRequest" />
      <xs:element name="CreateManifestReply" type="ns:CreateManifestReply" />
      <xs:element name="PrintManifestRequest" type="ns:PrintManifestRequest" />
      <xs:element name="PrintManifestReply" type="ns:PrintManifestReply" />
      <xs:element name="ReturnShipmentRequest" type="ns:ReturnShipmentRequest" />
      <xs:element name="ReturnShipmentReply" type="ns:ReturnShipmentReply" />
      <xs:element name="FindRequest" type="ns:FindRequest" />
      <xs:element name="FindReply" type="ns:FindReply" />
      <xs:element name="CancelShipmentRequest" type="ns:CancelShipmentRequest" />
      <xs:element name="CancelShipmentReply" type="ns:CancelShipmentReply" />
      <xs:complexType name="BaseRequest">
        <xs:sequence>
          <xs:element name="Authentication" type="ns:Authentication" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BaseReply">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alerts" type="ns:Alerts" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreateShipmentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseRequest">
            <xs:sequence>
              <xs:element name="RequestedShipment" type="ns:RequestedShipment" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateShipmentReply">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="CompletedShipmentInfo" type="ns:CompletedShipmentInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PrintLabelRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseRequest">
            <xs:sequence>
              <xs:element name="ShipmentNumber" type="xs:string" />
              <xs:element minOccurs="0" name="PrintFormat" type="xs:string" />
              <xs:element minOccurs="0" name="BarcodeFormat" type="xs:string" />
              <xs:element minOccurs="0" name="PrintType" type="ns:PrintType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PrintLabelReply">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="Label" type="ns:Document" />
              <xs:element minOccurs="0" name="LabelData" type="ns:ShipmentLabelData" />
              <xs:element minOccurs="0" name="PartnerCode" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PrintDocumentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseRequest">
            <xs:sequence>
              <xs:element name="ShipmentNumber" type="xs:string" />
              <xs:element name="DocumentType" type="xs:integer" />
              <xs:element minOccurs="0" name="PrintFormat" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PrintDocumentReply">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="Label" type="ns:Document" />
              <xs:element minOccurs="0" name="LabelData" type="ns:ShipmentLabelData" />
              <xs:element minOccurs="0" name="DocumentType" type="ns:Document" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateManifestReply">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="CompletedManifests" type="ns:CompletedManifests" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CreateManifestRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="DepartmentId" type="xs:integer" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PrintManifestRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseRequest">
            <xs:sequence>
              <xs:element name="ManifestNumber" type="xs:string" />
              <xs:element minOccurs="0" name="PrintFormat" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PrintManifestReply">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="Manifest" type="ns:Document" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ReturnShipmentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseRequest">
            <xs:sequence>
              <xs:element name="ShipmentNumber" type="xs:string" />
              <xs:element name="CollectionTime" type="ns:DateTimeRange" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ReturnShipmentReply">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="CompletedShipmentInfo" type="ns:CompletedReturnInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="RequestedShipment">
        <xs:sequence>
          <xs:element minOccurs="0" name="DepartmentId" type="xs:integer" />
          <xs:element name="ShipmentType" type="xs:string" />
          <xs:element name="ContractNumber" type="xs:string" />
          <xs:element minOccurs="0" name="RequestId" type="xs:integer" />
          <xs:element name="ServiceCode" type="xs:string" />
          <xs:element minOccurs="0" name="ShippingDate" type="xs:date" />
          <xs:element minOccurs="0" name="JobReference" type="xs:string" />
          <xs:element name="RecipientContact" type="ns:Contact" />
          <xs:element name="RecipientAddress" type="ns:Address" />
          <xs:element minOccurs="0" name="ImporterContact" type="ns:Contact" />
          <xs:element minOccurs="0" name="ImporterAddress" type="ns:Address" />
          <xs:element minOccurs="0" name="ExporterContact" type="ns:Contact" />
          <xs:element minOccurs="0" name="ExporterAddress" type="ns:Address" />
          <xs:element minOccurs="0" name="SenderContact" type="ns:Contact" />
          <xs:element minOccurs="0" name="SenderAddress" type="ns:Address" />
          <xs:element minOccurs="0" name="TotalNumberOfParcels" type="xs:integer" />
          <xs:element minOccurs="0" name="TotalShipmentWeight" type="ns:Weight" />
          <xs:element minOccurs="0" name="Enhancement" type="ns:Enhancement" />
          <xs:element minOccurs="0" name="DeliveryOptions" type="ns:DeliveryOptions" />
          <xs:element minOccurs="0" name="HazardousGoods" type="ns:HazardousGoods" />
          <xs:element minOccurs="0" name="Returns" type="ns:Returns" />
          <xs:element minOccurs="0" name="CollectionInfo" type="ns:CollectionInfo" />
          <xs:element minOccurs="0" name="InternationalInfo" type="ns:InternationalInfo" />
          <xs:element minOccurs="0" name="ReferenceNumber1" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceNumber2" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceNumber3" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceNumber4" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceNumber5" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions1" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions2" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions3" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions4" type="xs:string" />
          <xs:element minOccurs="0" name="InBoundContact" type="ns:Contact" />
          <xs:element minOccurs="0" name="InBoundAddress" type="ns:Address" />
          <xs:element minOccurs="0" name="InBoundDetails" type="ns:InBoundDetails" />
          <xs:element minOccurs="0" name="ExchangeInstructions1" type="xs:string" />
          <xs:element minOccurs="0" name="ExchangeInstructions2" type="xs:string" />
          <xs:element minOccurs="0" name="ExchangeInstructions3" type="xs:string" />
          <xs:element minOccurs="0" name="ConsignmentHandling" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Contact">
        <xs:sequence>
          <xs:element name="BusinessName" type="xs:string" />
          <xs:element minOccurs="0" name="ContactName" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" type="xs:string" />
          <xs:element minOccurs="0" name="MobilePhone" type="xs:string" />
          <xs:element minOccurs="0" name="SendersName" type="xs:string" />
          <xs:element minOccurs="0" name="Notifications" type="ns:Notifications" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notifications">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="NotificationType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element minOccurs="1" name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine3" type="xs:string" />
          <xs:element minOccurs="0" name="Town" type="xs:string" />
          <xs:element minOccurs="0" name="Postcode" type="xs:string" />
          <xs:element minOccurs="1" name="Country" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InBoundDetails">
        <xs:sequence>
          <xs:element minOccurs="1" name="ContractNumber" type="xs:string" />
          <xs:element minOccurs="1" name="ServiceCode" type="xs:string" />
          <xs:element minOccurs="0" name="TotalShipmentWeight" type="xs:string" />
          <xs:element minOccurs="0" name="Enhancement" type="ns:Enhancement" />
          <xs:element minOccurs="0" name="ReferenceNumber1" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceNumber2" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceNumber3" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceNumber4" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceNumber5" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions1" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions2" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions3" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions4" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Enhancement">
        <xs:sequence>
          <xs:element minOccurs="0" name="EnhancedCompensation" type="xs:string" />
          <xs:element minOccurs="0" name="SaturdayDeliveryRequired" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeliveryOptions">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConvenientCollect" type="ns:ConvenientCollect" />
          <xs:element minOccurs="0" name="IRTS" type="xs:boolean" />
          <xs:element minOccurs="0" name="Letterbox" type="xs:boolean" />
          <xs:element minOccurs="0" name="SpecifiedPostOffice" type="ns:SpecifiedPostOffice" />
          <xs:element minOccurs="0" name="SpecifiedNeighbour" type="xs:string" />
          <xs:element minOccurs="0" name="SafePlace" type="xs:string" />
          <xs:element minOccurs="0" name="PIN" type="xs:integer" />
          <xs:element minOccurs="0" name="NamedRecipient" type="xs:boolean" />
          <xs:element minOccurs="0" name="AddressOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="NominatedDeliveryDate" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HazardousGoods">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="HazardousGood" type="ns:HazardousGood" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HazardousGood">
        <xs:sequence>
          <xs:element minOccurs="0" name="LQDGUNCode" type="xs:string" />
          <xs:element minOccurs="0" name="LQDGDescription" type="xs:string" />
          <xs:element minOccurs="0" name="LQDGVolume" type="ns:Weight" />
          <xs:element minOccurs="0" name="Firearms" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Returns">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReturnsEmail" type="xs:string" />
          <xs:element minOccurs="0" name="EmailMessage" type="xs:string" />
          <xs:element minOccurs="1" name="EmailLabel" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InternationalInfo">
        <xs:annotation>
          <xs:documentation>Only for international shipments</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="Parcels" type="ns:Parcels" />
          <xs:element minOccurs="0" name="ShipperExporterVatNo" type="xs:string" />
          <xs:element minOccurs="0" name="RecipientImporterVatNo" type="xs:string" />
          <xs:element minOccurs="0" name="OriginalExportShipmentNo" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentsOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="DocumentsDescription" type="xs:string" />
          <xs:element minOccurs="0" name="ValueUnder200USDollars" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShipmentDescription" type="xs:string" />
          <xs:element minOccurs="0" name="Comments" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceDate" type="xs:date" />
          <xs:element minOccurs="0" name="TermsOfDelivery" type="xs:string" />
          <xs:element minOccurs="0" name="PurchaseOrderRef" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Parcels">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Parcel" type="ns:Parcel" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Parcel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Weight" type="ns:Weight" />
          <xs:element minOccurs="0" name="Length" type="xs:positiveInteger" />
          <xs:element minOccurs="0" name="Height" type="xs:positiveInteger" />
          <xs:element minOccurs="0" name="Width" type="xs:positiveInteger" />
          <xs:element minOccurs="0" name="PurposeOfShipment" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="ExportLicenseNumber" type="xs:string" />
          <xs:element minOccurs="0" name="CertificateNumber" type="xs:string" />
          <xs:element minOccurs="0" name="ContentDetails" type="ns:ContentDetails" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Weight">
        <xs:restriction base="xs:decimal">
          <xs:fractionDigits value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ContentDetails">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="ContentDetail" type="ns:ContentDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContentDetail">
        <xs:sequence>
          <xs:element name="CountryOfManufacture" type="xs:string" />
          <xs:element minOccurs="0" name="CountryOfOrigin" type="xs:string" />
          <xs:element minOccurs="0" name="ManufacturersName" type="xs:string" />
          <xs:element name="Description" type="xs:string" />
          <xs:element name="UnitWeight" type="ns:Weight" />
          <xs:element name="UnitQuantity" type="xs:positiveInteger" />
          <xs:element name="UnitValue" type="xs:decimal" />
          <xs:element name="Currency" type="xs:string" />
          <xs:element minOccurs="0" name="TariffCode" type="xs:string" />
          <xs:element minOccurs="0" name="TariffDescription" type="xs:string" />
          <xs:element minOccurs="0" name="ArticleReference" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CollectionInfo">
        <xs:annotation>
          <xs:documentation>Only required for collections</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="CollectionContact" type="ns:Contact" />
          <xs:element minOccurs="1" name="CollectionAddress" type="ns:Address" />
          <xs:element minOccurs="0" name="CollectionTime" type="ns:DateTimeRange" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DateTimeRange">
        <xs:sequence>
          <xs:element name="From" type="xs:dateTime" />
          <xs:element name="To" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ShipmentLabelData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="ParcelLabelData" type="ns:ParcelLabelData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParcelLabelData">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParcelNumber" type="xs:string" />
          <xs:element minOccurs="0" name="ShipmentNumber" type="xs:string" />
          <xs:element minOccurs="0" name="JourneyLeg" type="xs:string" />
          <xs:element minOccurs="0" name="LabelData" type="ns:LabelData" />
          <xs:element minOccurs="0" name="Barcodes" type="ns:Barcodes" />
          <xs:element minOccurs="0" name="Images" type="ns:Images" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ParcelContents" type="ns:ParcelContents" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParcelContents">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Item" type="ns:ContentData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContentData">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Data" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LabelData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Item" type="ns:LabelItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LabelItem">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Data" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Barcodes">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Barcode" type="ns:Barcode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Barcode">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Data" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Images">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Image" type="ns:Image" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Image">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Data" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="PrintType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ALL_PARCELS" />
          <xs:enumeration value="SINGLE_PARCEL" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Document">
        <xs:sequence>
          <xs:element name="Data" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompletedManifests">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="CompletedManifestInfo" type="ns:CompletedManifestInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompletedManifestInfo">
        <xs:sequence>
          <xs:element minOccurs="1" name="DepartmentId" type="xs:integer" />
          <xs:element minOccurs="1" name="ManifestNumber" type="xs:string" />
          <xs:element minOccurs="1" name="ManifestType" type="xs:string" />
          <xs:element minOccurs="1" name="TotalShipmentCount" type="xs:integer" />
          <xs:element minOccurs="1" name="ManifestShipments" type="ns:ManifestShipments" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ManifestShipments">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="ManifestShipment" type="ns:ManifestShipment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ManifestShipment">
        <xs:sequence>
          <xs:element name="ShipmentNumber" type="xs:string" />
          <xs:element name="ServiceCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompletedShipmentInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="LeadShipmentNumber" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryDate" type="xs:date" />
          <xs:element name="Status" type="xs:string" />
          <xs:element name="CompletedShipments" type="ns:CompletedShipments" />
          <xs:element name="RequestedShipment" type="ns:RequestedShipment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompletedShipments">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="CompletedShipment" type="ns:CompletedShipment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompletedShipment">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShipmentNumber" type="xs:string" />
          <xs:element minOccurs="0" name="OutBoundShipmentNumber" type="xs:string" />
          <xs:element minOccurs="0" name="InBoundShipmentNumber" type="xs:string" />
          <xs:element minOccurs="0" name="PartnerNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompletedReturnInfo">
        <xs:sequence>
          <xs:element name="Status" type="xs:string" />
          <xs:element name="ShipmentNumber" type="xs:string" />
          <xs:element name="CollectionTime" type="ns:DateTimeRange" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Authentication">
        <xs:sequence>
          <xs:element name="UserName" type="xs:string" />
          <xs:element name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Alerts">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Alert" type="ns:Alert" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Alert">
        <xs:sequence>
          <xs:element name="Code" type="xs:integer" />
          <xs:element name="Message" type="xs:string" />
          <xs:element name="Type" type="ns:AlertType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FindRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="ConvenientCollect" type="ns:ConvenientCollect" />
              <xs:element minOccurs="0" name="SpecifiedPostOffice" type="ns:SpecifiedPostOffice" />
              <xs:element minOccurs="0" name="PAF" type="ns:PAF" />
              <xs:element minOccurs="0" name="SafePlaces" type="xs:boolean" />
              <xs:element minOccurs="0" name="NominatedDeliveryDates" type="ns:NominatedDeliveryDates" />
              <xs:element minOccurs="0" name="PostcodeExclusion" type="ns:PostcodeExclusion" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="FindReply">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="ConvenientCollect" type="ns:ConvenientCollect" />
              <xs:element minOccurs="0" name="SpecifiedPostOffice" type="ns:SpecifiedPostOffice" />
              <xs:element minOccurs="0" name="PAF" type="ns:PAF" />
              <xs:element minOccurs="0" name="SafePlaceList" type="ns:SafePlaceList" />
              <xs:element minOccurs="0" name="NominatedDeliveryDates" type="ns:NominatedDeliveryDates" />
              <xs:element minOccurs="0" name="PostcodeExclusion" type="ns:PostcodeExclusion" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CancelShipmentRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseRequest">
            <xs:sequence>
              <xs:element name="ShipmentNumber" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CancelShipmentReply">
        <xs:complexContent mixed="false">
          <xs:extension base="ns:BaseReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="CompletedCancel" type="ns:CompletedCancel" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CompletedCancel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompletedCancelInfo" type="ns:CompletedCancelInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CompletedCancelInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Status" type="xs:string" />
          <xs:element minOccurs="0" name="ShipmentNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConvenientCollect">
        <xs:sequence>
          <xs:element minOccurs="0" name="Postcode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PostOffice" type="ns:PostOffice" />
          <xs:element minOccurs="0" name="Count" type="xs:integer" />
          <xs:element minOccurs="0" name="PostOfficeID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SpecifiedPostOffice">
        <xs:sequence>
          <xs:element minOccurs="0" name="Postcode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PostOffice" type="ns:PostOffice" />
          <xs:element minOccurs="0" name="Count" type="xs:integer" />
          <xs:element minOccurs="0" name="PostOfficeID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PAF">
        <xs:sequence>
          <xs:element minOccurs="0" name="Postcode" type="xs:string" />
          <xs:element minOccurs="0" name="Count" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecifiedNeighbour" type="ns:SpecifiedNeighbour" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SpecifiedNeighbour">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" type="ns:Address" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SafePlaceList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SafePlace" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NominatedDeliveryDates">
        <xs:sequence>
          <xs:element minOccurs="0" name="ServiceCode" type="xs:string" />
          <xs:element minOccurs="0" name="Departments" type="ns:Departments" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NominatedDeliveryDateList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="NominatedDeliveryDate" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PostcodeExclusion">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeliveryPostcode" type="xs:string" />
          <xs:element minOccurs="0" name="CollectionPostcode" type="xs:string" />
          <xs:element minOccurs="0" name="Departments" type="ns:Departments" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Departments">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" type="ns:Department" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Department">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentID" type="xs:integer" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCodes" type="ns:ServiceCodes" />
          <xs:element minOccurs="0" name="NominatedDeliveryDateList" type="ns:NominatedDeliveryDateList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceCodes">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PostOffice">
        <xs:sequence>
          <xs:element minOccurs="0" name="PostOfficeID" type="xs:string" />
          <xs:element minOccurs="0" name="Business" type="xs:string" />
          <xs:element minOccurs="0" name="Address" type="ns:Address" />
          <xs:element minOccurs="0" name="OpeningHours" type="ns:OpeningHours" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OpeningHours">
        <xs:sequence>
          <xs:element minOccurs="0" name="Mon" type="ns:Mon" />
          <xs:element minOccurs="0" name="Tue" type="ns:Tue" />
          <xs:element minOccurs="0" name="Wed" type="ns:Wed" />
          <xs:element minOccurs="0" name="Thu" type="ns:Thu" />
          <xs:element minOccurs="0" name="Fri" type="ns:Fri" />
          <xs:element minOccurs="0" name="Sat" type="ns:Sat" />
          <xs:element minOccurs="0" name="Sun" type="ns:Sun" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Mon">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hours" type="ns:Hours" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Tue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hours" type="ns:Hours" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Wed">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hours" type="ns:Hours" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Thu">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hours" type="ns:Hours" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Fri">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hours" type="ns:Hours" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Sat">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hours" type="ns:Hours" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Sun">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hours" type="ns:Hours" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Hours">
        <xs:sequence>
          <xs:element minOccurs="0" name="Open" type="xs:string" />
          <xs:element minOccurs="0" name="Close" type="xs:string" />
          <xs:element minOccurs="0" name="CloseLunch" type="xs:string" />
          <xs:element minOccurs="0" name="AfterLunchOpening" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="AlertType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR" />
          <xs:enumeration value="WARNING" />
          <xs:enumeration value="NOTIFICATION" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="CreateShipmentRequest">
    <part name="CreateShipmentRequest" element="ns:CreateShipmentRequest" />
  </message>
  <message name="CreateShipmentReply">
    <part name="CreateShipmentReply" element="ns:CreateShipmentReply" />
  </message>
  <message name="PrintLabelRequest">
    <part name="PrintLabelRequest" element="ns:PrintLabelRequest" />
  </message>
  <message name="PrintLabelReply">
    <part name="PrintLabelReply" element="ns:PrintLabelReply" />
  </message>
  <message name="PrintDocumentRequest">
    <part name="PrintDocumentRequest" element="ns:PrintDocumentRequest" />
  </message>
  <message name="PrintDocumentReply">
    <part name="PrintDocumentReply" element="ns:PrintDocumentReply" />
  </message>
  <message name="CreateManifestRequest">
    <part name="CreateManifestRequest" element="ns:CreateManifestRequest" />
  </message>
  <message name="CreateManifestReply">
    <part name="CreateManifestReply" element="ns:CreateManifestReply" />
  </message>
  <message name="PrintManifestRequest">
    <part name="PrintManifestRequest" element="ns:PrintManifestRequest" />
  </message>
  <message name="PrintManifestReply">
    <part name="PrintManifestReply" element="ns:PrintManifestReply" />
  </message>
  <message name="ReturnShipmentRequest">
    <part name="ReturnShipmentRequest" element="ns:ReturnShipmentRequest" />
  </message>
  <message name="ReturnShipmentReply">
    <part name="ReturnShipmentReply" element="ns:ReturnShipmentReply" />
  </message>
  <message name="FindRequest">
    <part name="FindRequest" element="ns:FindRequest" />
  </message>
  <message name="FindReply">
    <part name="FindReply" element="ns:FindReply" />
  </message>
  <message name="CancelShipmentRequest">
    <part name="CancelShipmentRequest" element="ns:CancelShipmentRequest" />
  </message>
  <message name="CancelShipmentReply">
    <part name="CancelShipmentReply" element="ns:CancelShipmentReply" />
  </message>
  <portType name="ShipPortType">
    <operation name="createShipment" parameterOrder="CreateShipmentRequest">
      <input message="ns:CreateShipmentRequest" />
      <output message="ns:CreateShipmentReply" />
    </operation>
    <operation name="printLabel" parameterOrder="PrintLabelRequest">
      <input message="ns:PrintLabelRequest" />
      <output message="ns:PrintLabelReply" />
    </operation>
    <operation name="printDocument" parameterOrder="PrintDocumentRequest">
      <input message="ns:PrintDocumentRequest" />
      <output message="ns:PrintDocumentReply" />
    </operation>
    <operation name="createManifest" parameterOrder="CreateManifestRequest">
      <input message="ns:CreateManifestRequest" />
      <output message="ns:CreateManifestReply" />
    </operation>
    <operation name="printManifest" parameterOrder="PrintManifestRequest">
      <input message="ns:PrintManifestRequest" />
      <output message="ns:PrintManifestReply" />
    </operation>
    <operation name="returnShipment" parameterOrder="ReturnShipmentRequest">
      <input message="ns:ReturnShipmentRequest" />
      <output message="ns:ReturnShipmentReply" />
    </operation>
    <operation name="Find" parameterOrder="FindRequest">
      <input message="ns:FindRequest" />
      <output message="ns:FindReply" />
    </operation>
    <operation name="CancelShipment" parameterOrder="CancelShipmentRequest">
      <input message="ns:CancelShipmentRequest" />
      <output message="ns:CancelShipmentReply" />
    </operation>
  </portType>
  <binding name="ShipServiceSoapBinding" type="ns:ShipPortType">
    <s1:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="createShipment">
      <s1:operation soapAction="createShipment" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="printLabel">
      <s1:operation soapAction="printLabel" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="printDocument">
      <s1:operation soapAction="printDocument" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="createManifest">
      <s1:operation soapAction="createManifest" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="printManifest">
      <s1:operation soapAction="printManifest" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="returnShipment">
      <s1:operation soapAction="returnShipment" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="Find">
      <s1:operation soapAction="Find" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
    <operation name="CancelShipment">
      <s1:operation soapAction="CancelShipment" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ShipService">
    <port name="ShipServicePort" binding="ns:ShipServiceSoapBinding">
      <s1:address location="https://expresslink.cav-dev-pfwweb-1.technodiva.com:55443/ws/" />
    </port>
  </service>
</definitions>